<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Favorites</title>
  <th:block th:insert="~{/include/bootstrap}"/>
</head>
<body>
<th:block th:insert="~{/include/navigate}"/>
<th:block th:if="${favoriteProducts.size() < 1}">
  <h3 class="text-center mt-2 text-dark font-italic">Please, add products to the favorites</h3>
</th:block>
<div class="row row-cols-1 row-cols-md-6 g-4 mr-1 ml-1 mt-1">
  <div th:each="product : ${favoriteProducts}">
    <div class="card mr-2 ml-2 mt-1 shadow bg-body-tertiary rounded" style="max-width: 14rem">
      <th:block th:insert="~{/include/one-product-card.html}"/>
      <th:block>
        <div sec:authorize="isAuthenticated()">
          <div class="btn-group btn-group-fill">
            <a th:href="@{/add-cart(id=${product.id}, shop=true, location='none')}"
               class="btn btn-success active" style="min-width: 8.8rem"
               aria-current="page">Buy</a>
            <a th:href="@{/add-cart(id=${product.id}, shop='none', location='favorite')}"
               class="btn btn-success">
              <div class="text-center mt-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                  <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                  <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg>
              </div>
            </a>
            <a th:href="@{/delete-favorite(id=${product.id})}"
               class="btn btn-success">
              <div class="text-center mt-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heartbreak" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8.867 14.41c13.308-9.322 4.79-16.563.064-13.824L7 3l1.5 4-2 3L8 15a38.094 38.094 0 0 0 .867-.59Zm-.303-1.01c6.164-4.4 6.91-7.982 6.22-9.921C14.031 1.37 11.447.42 9.587 1.368L8.136 3.18l1.3 3.468a1 1 0 0 1-.104.906l-1.739 2.608.971 3.237Zm-1.25 1.137a36.027 36.027 0 0 1-1.522-1.116C-5.077 4.97 1.842-1.472 6.454.293c.314.12.618.279.904.477L5.5 3 7 7l-1.5 3 1.815 4.537Zm-2.3-3.06C.895 7.797.597 4.875 1.308 3.248c.756-1.73 2.768-2.577 4.456-2.127L4.732 2.36a1 1 0 0 0-.168.991L5.91 6.943l-1.305 2.61a1 1 0 0 0-.034.818l.442 1.106Z"/>
                </svg>
              </div>
            </a>
          </div>
        </div>
      </th:block>
    </div>
  </div>
</div>
</body>
</html>
